


/* font */
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }

  
body{
    background-color: black;
    color: white;
    margin: 0 auto;
}

ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    justify-content:space-around;
    margin: 50px 50px;
}
.fit{
    color:#E6533C;
    font-size: 2em;
    font-weight:bolder;
}

.primary-button{
    background-color: #E6533C;
    color: #FFFFFF;
    height: 40px;
    width: 110px;
    border-radius: 50px;
    border: none;
    margin-left: 0px;
}

.primary-buttonn{
    background-color:#222222;
    /* background-color: #E6533C; */
    color: #FFFFFF;
    height: 40px;
    width: 110px;
    border-radius: 50px;
    
    margin-left: 0px;
}

.pre-title{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
}

#title{
    font-size: 3rem;
}

#sp2{
    font-style: ;
}

.first-para{
    width: 50%;
}
.first-img{
    width: 50%;
}
.opa{
    opacity: 0.5;
}
@media  screen and (max-width:576px) {
    .pre-title{
        width:100%;
        flex-direction: column;
    }
    .primary-button{
        display: flex;
        flex-direction: row;
    }
    ul li{
        display: none;
    }
    .twob{
        display: flex;
        flex-direction: row;
    }
}

.motiv{
    text-align: center;
    margin-top: 8em;
    margin-bottom: 5em;
}

.head{
    font-size: 3em;
    font-weight: 900;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.grid-container img{
    border-radius: 50%;
}

.alignment{
    text-align: center;
    margin-bottom: 4em;
}

.run{
    background-color: #525659;
    border-radius: 2rem;
    height: 21em;
    width: 74em;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
.run img{
    border-radius: 2em;
    margin-left: 25em;
    
}

.side{
    height: 18em;
    width: 30em;
}

@media screen and (max-width:576px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
}

@media screen and (max-width:576px) {
    .run{
        /* display: grid;grid-template-columns: repeat(1,1fr); */
        flex-direction: column;
        
        
    }
}

.simple{
    height: 2em;
    width: 25em;
    margin: 0 auto;
    padding: 10em;
}


table{
    border-collapse: collapse;
    height: 12em;
    width: 22em;
}
.flexi{
    display: flex;
    justify-content: space-around;
        height: 17em;
        width: 100%;
        background-color: mediumvioletred;
        padding: 3em;
}

@media screen and (max-width:576px){
    .flexi{
        display: flex;
        flex-direction: column;
    }
}
.hello{
    text-align: center;
    margin: 5em;
}
 .grid-contain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.foot{
    height: 22em;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    padding-top: 9em;
}
ul li{
    list-style: none;
    display: flex;
    
}